:root{
    --primary-color: rgb(83, 94, 241);
}
.navigation{
    background-color: var(--primary-color);
    margin: 0rem;
    display: block;
    padding: 1rem;
}
.inline{
    display: inline;
    margin: 2rem;
    color: tomato;
    border: 2px solid red;
}
 .navigation .right{
    text-align: right;
    
}
.no{
    
    display: block;
}
.navigation .inline .link{
    color: wheat;
    text-decoration: none;
}
.navigation h2{
    color: wheat;
}